.tweet {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
  }
  
  .tweet_header {
    display: flex;
    align-items: center;
    padding: 16px;
    /* border-bottom: 1px solid #e6ecf0; */
  }
  
  .tweet_header img {
    width: 68px;
    height: 68px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 16px;
  
  }
  
  .tweet_header h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  
  .tweet_header p {
    font-size: 14px;
    color: #657786;
    margin: 0;
  }
  
  .each_tweet_body {
    padding-left: 4.2rem;
    padding-right: 1rem;
  }
  
  .each_tweet_body p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  
  .tweet_footer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4.2rem;
    font-size: 14px;
    color: #657786;
  }
 
  .tweet_footer p {
    margin: 0;
    margin-right: 16px;
  }
 .tweet_text_img{
  /* width: 300px;
  height:200px ;  */
  width: 70%;
  height: 40%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 1rem;
 }
 .tweet_body img{
   width: 500px;
 }
 .icon_detail{
  display: flex;
  align-items: center;
 }
 .tweet_icon_container{
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 75%;
  padding: .6rem .7rem;
  padding-left: .5rem;
  cursor: pointer;
 }
 .retweet:hover {
  background-color: rgb(234, 247, 234);
  color: rgb(5, 161, 5);
}
.like:hover {
  background-color: rgb(246, 234, 236);
  color: rgb(235, 75, 101);
}
.view:hover {
  background-color: rgb(219, 234, 240);
  color: rgb(84, 184, 224);
}
 .dark .tweet {
  color: #fff; 
  background-color: #000; 
}

  /* loader css */


  .loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin:-600px;
    margin-left: 45%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }